/** @format */

@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* 可选择文本的工具类 */
  .selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

.non-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 定义拖拽区域，用于无边框窗口 */
.app-drag-region {
  -webkit-app-region: drag;
}

/* 防止按钮和交互元素被拖拽 */
.non-draggable {
  -webkit-app-region: no-drag;
}

/* 为macOS红绿灯按钮预留空间 */
.mac-traffic-lights-space {
  width: 70px;
  height: 12px;
}

.app-container {
  height: calc(100vh - 36px);
}

/* 全局默认禁止文本选择 */
* {
  font-family: "Nunito", sans-serif;
}

.share-tech {
  font-family: "Share Tech";
}

.nunito {
  font-family: "Nunito";
}

.roboto {
  font-family: "Roboto";
}

.wenkai {
  font-family: "LXGW WenKai";
}
